/* Harici Stil Dosyası[cite: 1] */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-img {
    border: 3px solid #dee2e6;
    padding: 5px;
    background-color: white;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h2, h4, h5 {
    color: #2c3e50;
}


.card-img-top {
    height: 250px ;
    object-fit: cover ; 
}

/* İletişim Formu Tasarım Dokunuşları */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 15px; /* Kartın köşelerini yuvarlar */
    margin-top: 20px;
}

.text-danger {
    font-size: 0.85rem;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}